<!-- breadcrum -->
<div class="container py-4 flex justify-between">
  <div class="flex gap-3 items-center">
    <a href="index.html" class="text-primary text-base">
      <i class="fas fa-home"></i>
    </a>
    <span class="text-sm text-gray-400"
      ><i class="fas fa-chevron-right"></i
    ></span>
    <p class="text-gray-600 font-medium">Shop</p>
  </div>
</div>
<!-- breadcrum end -->

<!-- shop wrapper -->
<div
  class="container grid lg:grid-cols-4 gap-6 pt-4 pb-16 items-start relative"
>
  <!-- sidebar -->
  <div
    class="col-span-1 bg-white px-4 pt-4 pb-6 shadow rounded overflow-hidden absolute lg:static left-4 top-16 z-10 w-72 lg:w-full lg:block"
  >
    <div class="divide-gray-200 divide-y space-y-5 relative">
      <!-- category filter -->
      <div class="relative">
        <div
          class="lg:hidden text-gray-400 hover:text-primary text-lg absolute right-0 top-0 cursor-pointer"
        >
          <i class="fas fa-times"></i>
        </div>
        <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">
          Categories
        </h3>
        <div class="space-y-2">
          <!-- single category -->
          <div class="flex items-center">
            <a
              routerLink="/category/0"
              for="Bedroom"
              class="text-gray-600 ml-3 cursor-pointer"
              >Books</a
            >
          </div>
          <!-- single category end -->
          <!-- single category -->
          <div class="flex items-center">
            <a
              routerLink="/category/2"
              for="Sofa"
              class="text-gray-600 ml-3 cursor-pointer"
              >Clothes</a
            >
          </div>
          <!-- single category end -->
          <!-- single category -->
          <div class="flex items-center">
            <a
              routerLink="/category/1"
              for="Office"
              class="text-gray-600 ml-3 cursor-pointer"
              >Foods</a
            >
          </div>
          <!-- single category end -->
          <!-- single category -->
          <div class="flex items-center">
            <a
              routerLink="/category/3"
              for="Outdoor"
              class="text-gray-600 ml-3 cursor-pointer"
              >Drinks</a
            >
          </div>
          <!-- single category end -->
        </div>
      </div>
      <!-- category filter end -->
    </div>
  </div>
  <!-- sidebar end -->

  <!-- products -->
  <div class="col-span-3">
    <!-- sorting -->
    <div class="mb-4 flex items-center">
      <h3>{{ title }}</h3>
    </div>
    <!-- sorting end -->
    <!-- product wrapper -->
    <div class="grid lg:grid-cols-2 xl:grid-cols-3 sm:grid-cols-2 gap-6">
      <!-- single product -->
      <div
        class="max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
        *ngFor="let productInfo of products"
      >
        <a routerLink="/product/{{ productInfo.productId }}">
          <img
            class="p-8 rounded-t-lg"
            src="{{ productInfo.productIcon }}"
            alt="product image"
          />
        </a>
        <div class="px-5 pb-5">
          <a routerLink="/product/{{ productInfo.productId }}">
            <h5
              class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"
            >
              {{ productInfo.productName }}
            </h5>
          </a>
          <div class="flex items-center mt-2.5 mb-5">
            <svg
              class="w-5 h-5 text-yellow-300"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-300"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-300"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-300"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-300"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <span
              class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3"
              >5.0</span
            >
          </div>
          <div class="flex justify-between items-center">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">{{
              productInfo.productPrice | currency
            }}</span>
            <a
              routerLink="/product/{{ productInfo.productId }}"
              *ngIf="productInfo.productStatus == 0; else soldOut"
              class="text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >Add to cart</a
            >
            <ng-template #soldOut>
              <span
                class="text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-700 dark:hover:bg-gray-800"
              >
                Sold out
              </span>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- single product end -->
    </div>
    <!-- product wrapper end -->
    <!-- <div class="flex justify-center mt-10">
      <app-pagination [currentPage]="page"></app-pagination>
    </div> -->
  </div>
  <!-- products end -->
</div>
<!-- shop wrapper end -->
