<!-- form wrapper -->
<div class="container py-16">
  <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
    <h2 class="text-2xl uppercase font-medium mb-1">LOGIN</h2>
    <p class="text-gray-600 mb-6 text-sm">
      Login if you are a returning customer
    </p>

    <div
      class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"
      role="alert"
      *ngIf="isInvalid"
    >
      <svg
        class="inline flex-shrink-0 mr-3 w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <div>
        <span class="font-medium">Danger alert!</span> Invalid username or
        password
      </div>
    </div>

    <div
      class="flex p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800"
      role="alert"
      *ngIf="isLogout"
    >
      <svg
        class="inline flex-shrink-0 mr-3 w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <div>
        <span class="font-medium">Warning alert!</span> You are logged out
      </div>
    </div>

    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="space-y-4">
        <div>
          <label class="text-gray-600 mb-2 block">
            Email Address <span class="text-primary">*</span>
          </label>
          <input
            id="email"
            type="email"
            class="input-box"
            placeholder="example@mail.com"
            name="email"
            required
            autofocus
            [(ngModel)]="model.username"
            #email="ngModel"
            autocomplete="email"
          />
          <div [hidden]="email.valid || email.pristine">
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> Email is required
            </p>
          </div>
        </div>

        <div>
          <label class="text-gray-600 mb-2 block"
            >Password <span class="text-primary">*</span></label
          >
          <input
            id="password"
            type="password"
            class="input-box"
            placeholder="type password"
            autocomplete="password"
            required
            [(ngModel)]="model.password"
            #password="ngModel"
            name="password"
          />
          <div [hidden]="password.valid || password.pristine">
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">Oops!</span> Password is required
            </p>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between mt-6">
        <div class="flex items-center">
          <input
            type="checkbox"
            id="agreement"
            class="text-primary focus:ring-0 rounded-sm cursor-pointer"
            [(ngModel)]="model.remembered"
            name="remember-me"
          />
          <label for="agreement" class="text-gray-600 ml-3 cursor-pointer">
            Remember Me
          </label>
        </div>
      </div>
      <div class="mt-4">
        <button
          [disabled]="!form.form.valid"
          type="submit"
          class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium"
        >
          Login
        </button>
      </div>
    </form>

    <p class="mt-4 text-gray-600 text-center">
      Don't have an account?
      <a routerLink="/register" class="text-primary">Register Now </a>
    </p>
  </div>
</div>
<!-- form wrapper end -->
