<div class="container">
  <div class="my-2">
    <h1 class="text-xl font-bold tracking-wider text-center mt-12">Products</h1>
  </div>
  <!-- New Product Button -->
  <div class="flex justify-center my-8">
    <a
      class="text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      routerLink="/seller/product/new"
      *ngIf="currentUser.role === Role.Manager"
    >
      <i class="fas fa-plus"></i>
      Add Product
    </a>
  </div>
  <table class="w-full shadow-inner mb-10">
    <thead>
      <tr class="bg-gray-100">
        <th class="px-6 py-3 font-bold whitespace-nowrap">Image</th>
        <th class="px-6 py-3 font-bold whitespace-nowrap">Code</th>
        <th class="px-6 py-3 font-bold whitespace-nowrap">Name</th>
        <th class="px-6 py-3 font-bold whitespace-nowrap">Type</th>
        <th class="px-6 py-3 font-bold whitespace-nowrap">Description</th>
        <th class="px-6 py-3 font-bold whitespace-nowrap">Price</th>
        <th class="px-6 py-3 font-bold whitespace-nowrap">Stock</th>
        <th class="px-6 py-3 font-bold whitespace-nowrap">Status</th>
        <th class="px-6 py-3 font-bold whitespace-nowrap">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productInfo of page?.content">
        <td>
          <div class="flex justify-center">
            <img
              src="{{ productInfo.productIcon }}"
              class="object-cover h-28 w-28 rounded-2xl"
              alt="image"
            />
          </div>
        </td>
        <td class="p-4 px-6 text-center whitespace-nowrap">
          {{ productInfo.productId }}
        </td>
        <td class="p-4 px-6 text-center whitespace-nowrap">
          <div class="flex flex-col items-center justify-center">
            <h3>{{ productInfo.productName }}</h3>
          </div>
        </td>
        <td class="p-4 px-6 text-center whitespace-nowrap">
          {{ CategoryType[productInfo.categoryType] }}
        </td>
        <td class="p-4 px-6 text-center whitespace-nowrap">
          {{ productInfo.productDescription }}
        </td>
        <td class="p-4 px-6 text-center whitespace-nowrap">
          {{ productInfo.productPrice | currency: "Rp " }}
        </td>
        <td class="p-4 px-6 text-center whitespace-nowrap">
          {{ productInfo.productStock }}
        </td>
        <td class="p-4 px-6 text-center whitespace-nowrap">
          {{ ProductStatus[productInfo.productStatus] }}
        </td>
        <td class="p-4 px-6 text-center whitespace-nowrap">
          <a
            style="display: block"
            routerLink="/seller/product/{{ productInfo.productId }}/edit"
            class="text-primary underline"
          >
            Edit</a
          >

          <a
            *ngIf="currentUser?.role == Role.Customer"
            style="display: block"
            (click)="remove(page.content, productInfo.productId)"
            routerLink="./"
          >
            Remove</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <div class="flex items-center justify-center">
    <app-pagination [currentPage]="page"></app-pagination>
  </div>
</div>
