<!-- banner -->
<div
  class="bg-cover bg-no-repeat bg-center py-36 relative"
  style="background-image: url('/assets/images/banner-bg.jpg')"
>
  <div class="container">
    <!-- banner content -->
    <h1 class="xl:text-6xl md:text-5xl text-4xl text-gray-800 font-medium mb-4">
      Tempat Terbaik Untuk <br class="hidden sm:block" />
      Peralatan Sekolah
    </h1>
    <p class="text-base text-gray-600 leading-6">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
      <br class="hidden sm:block" />
      assumenda aliquid inventore nihil laboriosam odio
    </p>
    <!-- banner button -->
    <div class="mt-12">
      <a
        routerLink="/shop"
        class="bg-primary border border-primary text-white px-8 py-3 font-medium rounded-md uppercase hover:bg-transparent hover:text-primary transition"
      >
        Shop now
      </a>
    </div>
    <!-- banner button end -->
    <!-- banner content end -->
  </div>
</div>
<!-- banner end -->

<!-- features -->
<div class="container py-16">
  <div
    class="lg:w-10/12 grid md:grid-cols-3 gap-3 lg:gap-6 mx-auto justify-center"
  >
    <!-- single feature -->
    <div
      class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5"
    >
      <img
        src="/assets/images/icons/delivery-van.svg"
        class="lg:w-12 w-10 h-12 object-contain"
      />
      <div>
        <h4 class="font-medium capitalize text-lg">Gratis Ongkir</h4>
        <p class="text-gray-500 text-xs lg:text-sm">Order over $200</p>
      </div>
    </div>
    <!-- single feature end -->
    <!-- single feature -->
    <div
      class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5"
    >
      <img
        src="/assets/images/icons/money-back.svg"
        class="lg:w-12 w-10 h-12 object-contain"
      />
      <div>
        <h4 class="font-medium capitalize text-lg">Uang Kembali</h4>
        <p class="text-gray-500 text-xs lg:text-sm">30 Hari Uang Kembali</p>
      </div>
    </div>
    <!-- single feature end -->
    <!-- single feature -->
    <div
      class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5"
    >
      <img
        src="/assets/images/icons/service-hours.svg"
        class="lg:w-12 w-10 h-12 object-contain"
      />
      <div>
        <h4 class="font-medium capitalize text-lg">24/7 Support</h4>
        <p class="text-gray-500 text-xs lg:text-sm">Customer support</p>
      </div>
    </div>
    <!-- single feature end -->
  </div>
</div>
<!-- features end -->

<!-- categories -->
<div class="container pb-16">
  <h2 class="text-2xl md:text-3xl font-medium text-gray-800 uppercase mb-6">
    shop by category
  </h2>
  <div class="grid lg:grid-cols-2 sm:grid-cols-2 gap-3">
    <!-- single category -->
    <div class="relative group rounded-sm overflow-hidden">
      <img src="/assets/images/category/books.jpg" class="w-full" />
      <a
        routerLink="/category/0"
        class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white font-roboto font-medium tracking-wide transition"
      >
        Books
      </a>
    </div>
    <!-- single category end -->
    <!-- single category -->
    <div class="relative group rounded-sm overflow-hidden">
      <img src="/assets/images/category/clothes.jpg" class="w-full" />
      <a
        routerLink="/category/2"
        class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white font-roboto font-medium tracking-wide transition"
      >
        Clothes
      </a>
    </div>
    <!-- single category end -->
    <!-- single category -->
    <div class="relative group rounded-sm overflow-hidden">
      <img src="/assets/images/category/foods.jpg" class="w-full" />
      <a
        routerLink="/category/3"
        class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white font-roboto font-medium tracking-wide transition"
      >
        Foods
      </a>
    </div>
    <!-- single category end -->
    <!-- single category -->
    <div class="relative group rounded-sm overflow-hidden">
      <img src="/assets/images/category/drinks.jpg" class="w-full" />
      <a
        routerLink="/category/1"
        class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white font-roboto font-medium tracking-wide transition"
      >
        Drinks
      </a>
    </div>
  </div>
</div>
<!-- categories end -->

<!-- top new arrival -->
<div class="container pb-16">
  <h2 class="text-2xl md:text-3xl font-medium text-gray-800 uppercase mb-6">
    top new arrival
  </h2>
  <!-- product wrapper -->
  <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-6">
    <!-- single product -->
    <div
      class="max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
      *ngFor="let productInfo of newArrivalProducts"
    >
      <a routerLink="/product/{{ productInfo.productId }}">
        <img
          class="p-8 rounded-t-lg"
          src="{{ productInfo.productIcon }}"
          alt="product image"
        />
      </a>
      <div class="px-5 pb-5">
        <a routerLink="/product/{{ productInfo.productId }}">
          <h5
            class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"
          >
            {{ productInfo.productName }}
          </h5>
        </a>
        <div class="flex items-center mt-2.5 mb-5">
          <svg
            class="w-5 h-5 text-yellow-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
          </svg>
          <svg
            class="w-5 h-5 text-yellow-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
          </svg>
          <svg
            class="w-5 h-5 text-yellow-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
          </svg>
          <svg
            class="w-5 h-5 text-yellow-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
          </svg>
          <svg
            class="w-5 h-5 text-yellow-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
          </svg>
          <span
            class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3"
            >5.0</span
          >
        </div>
        <div class="flex justify-between items-center">
          <span class="text-3xl font-bold text-gray-900 dark:text-white">{{
            productInfo.productPrice | currency
          }}</span>
          <a
            routerLink="/product/{{ productInfo.productId }}"
            *ngIf="productInfo.productStatus == 0; else soldOut"
            class="text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >Add to cart</a
          >
          <ng-template #soldOut>
            <span
              class="text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-700 dark:hover:bg-gray-800"
            >
              Sold out
            </span>
          </ng-template>
        </div>
      </div>
    </div>
    <!-- single product end -->
  </div>
  <!-- product wrapper end -->
</div>
<!-- top new arrival end -->
