<div class="py-4 container flex gap-3 items-center">
  <a routerLink="/" class="text-primary text-base">
    <i class="fas fa-home"></i>
  </a>
  <span class="text-sm text-gray-400"
    ><i class="fas fa-chevron-right"></i
  ></span>
  <p class="text-gray-600 font-medium uppercase">Shopping Cart</p>
</div>
<!-- breadcrum end -->

<!-- cart wrapper -->
<div class="container lg:grid grid-cols-12 gap-6 items-start pb-16 pt-4">
  <!-- product cart -->
  <div class="xl:col-span-9 lg:col-span-8">
    <!-- cart title -->
    <div class="bg-gray-200 py-2 pl-12 pr-20 xl:pr-28 mb-4 hidden md:flex">
      <p class="text-gray-600 text-center">Product</p>
      <p class="text-gray-600 text-center ml-auto mr-16 xl:mr-24">Quantity</p>
      <p class="text-gray-600 text-center">Total</p>
    </div>
    <!-- cart title end -->

    <!-- shipping carts -->
    <div class="space-y-4" *ngFor="let productInfo of productInOrders">
      <!-- single cart -->
      <div
        class="flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-200 rounded flex-wrap md:flex-nowrap"
      >
        <!-- cart image -->
        <div class="w-32 flex-shrink-0">
          <img src="{{ productInfo.productIcon }}" class="w-full" />
        </div>
        <!-- cart image end -->
        <!-- cart content -->
        <div class="md:w-1/3 w-full">
          <h2
            class="text-gray-800 mb-3 xl:text-xl textl-lg font-medium uppercase"
          >
            {{ productInfo.productName }}
          </h2>
          <p class="text-primary font-semibold">
            {{ productInfo.productPrice | currency: "Rp " }}
          </p>
        </div>
        <!-- cart content end -->
        <!-- cart quantity -->
        <div
          class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300"
        >
          <a
            (click)="minusOne(productInfo)"
            class="h-9 w-8 text-xl flex items-center justify-center cursor-pointer select-none"
          >
            -
          </a>
          <div class="h-8 w-24 justify-center items-center">
            <input
              [max]="productInfo.productStock"
              min="1"
              id="{{ productInfo.productId }}"
              (change)="onChange(productInfo)"
              [(ngModel)]="productInfo.count"
              name="count"
              required
              type="number"
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            />
          </div>
          <a
            (click)="addOne(productInfo)"
            class="h-9 w-8 text-xl flex items-center justify-center cursor-pointer select-none"
          >
            +
          </a>
        </div>
        <!-- cart quantity end -->
        <div class="ml-auto md:ml-0">
          <p class="text-primary text-lg font-semibold">
            {{ productInfo.productPrice * productInfo.count | currency: "Rp " }}
          </p>
        </div>
        <div class="text-gray-600 hover:text-primary cursor-pointer">
          <a routerLink="./" (click)="remove(productInfo)"
            ><i class="fas fa-trash"></i
          ></a>
        </div>
      </div>
      <!-- single cart end -->
    </div>
    <!-- shipping carts end -->
  </div>
  <!-- product cart end -->
  <!-- order summary -->
  <div
    class="xl:col-span-3 lg:col-span-4 border border-gray-200 px-4 py-4 rounded mt-6 lg:mt-0"
  >
    <h4 class="text-gray-800 text-lg mb-4 font-medium uppercase">
      ORDER SUMMARY
    </h4>
    <div class="space-y-1 text-gray-600 pb-3 border-b border-gray-200">
      <div class="flex justify-between font-medium">
        <p>Subtotal</p>
        <p>{{ total | currency: "Rp " }}</p>
      </div>
      <div class="flex justify-between">
        <p>Delivery</p>
        <p>Free</p>
      </div>
      <div class="flex justify-between">
        <p>Tax</p>
        <p>Free</p>
      </div>
    </div>
    <div
      class="flex justify-between my-3 text-gray-800 font-semibold uppercase"
    >
      <h4>Total</h4>
      <h4>{{ total | currency: "Rp " }}</h4>
    </div>

    <!-- checkout -->
    <button
      (click)="checkout()"
      class="bg-primary border border-primary text-white px-4 py-3 font-medium rounded-md uppercase hover:bg-transparent hover:text-primary transition text-sm w-full block text-center"
    >
      Process to checkout
    </button>
    <!-- checkout end -->
  </div>
  <!-- order summary end -->
</div>
<!-- cart wrapper end -->
